.inputField {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 1rem;
}
